#header{
	background:rgb(14,42,105);
	width: 100%;
	height: 150px;
}

#time_menu{
	width:100%;
	height: 30%;
	background: rgba(0,0,0,0.2);
	top:0px;
	left:0px;
	right:0px;
}

#container h1{
	text-align:right;
	font-family:"BKoodakBold";
}

#description h4{
	text-align:right;
	font-family:"BKoodakBold";
	margin: 40px 0px;
}


#input_part{
	text-align:center;	
	width: 100%;
}

#search_keywords{
	width:	50%;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 10px;
	font-family:"BKoodakBold";
}

.btn{
	background-color: #000099;
  	border: none;
	height: 28px;
  	color: white;
  	padding: 10px 20px;
  	text-align: center;
  	font-size: 16px;
  	opacity: 0.6;
  	transition: 0.3s;
  	display: inline-block;
  	text-decoration: none;
  	cursor: pointer;
	border-radius: 5px;
	font-family:"BKoodakBold";
	margin-bottom: 20px;
}

.btn:hover{
	opacity: 1;
}

#auth_btn{
	height:48px !important;
	background-color: #ff3333 !important;
	width: 200px;
	margin-right: 10px;
}

#image_uploads{
	display: none;
}

#footer{
	font-family:"BKoodakBold";	
	height: 300px ;
}

#footer #container{
	background:rgb(12, 35, 90);
	width: 100%;
	height: 90%;
}

#footer_b{
	width:100%;
	height: 20%;
}

#footer .buttom{
	display:inline;
	float:right; 
}

#gap{
	width:70%;
	height:1%;
}

#footer .four_column_layout{
	width:100%;
}

#footer .col_1{
	display: inline;
	float:right;
	position:relative;
	margin-left: 5px;
	margin-right: 5px;
	color: white;
	width:300px;
}

#footer .clear{
	clear:both;
	display:block;
	display:hidden;
	overflow:hidden;
}

#footer li{
	/*list-style: none;*/
	color: #999900;
}

#footer a{
	text-decoration: none;
	color: #f2f2f2;
	
}

#footer a:hover{
	
	background : white;
	border-radius: 5px;
	color:black;
	padding: 5px;

}


#footer #box{
	display:inline;
	background : white;
	width: 100px;
	border-radius: 35px;


}

#vLine{
	width:1%;
	height:300px;
	border-left: solid 1px #737373;	
	position: relative;
	float:right
	
}

#part1{
	width: 48%;
	position: relative;
	float:right;
}

#part2{
	width: 50%;
	position: relative;
	float:right;
}

#inputer_part{
	position: relative;
	float:right;
	width:100%;
}

#validate_part{
	display: inline-block;
	width:98%;
	text-align: center;
	margin-top: 30px;
	/*border-bottom: solid 1px black;*/
	padding:10px;
	
}

#hLine{
	
	display: inline-block;
	width:50%;
	height:2px;
	background-color: #737373;
	position: relative;
	margin-left: 25%;
	margin-right:25%;
}

#image_preview{

	display: inline-block;
	width: 98%;
	text-align: center;
	margin:15px;
	/*border: solid 1px black;*/
	
}

#student_name_lbl{
	margin-left:5px;
}

#doc_number_lbl{
	margin-left:48px;
}

#doc_date_lbl{
	margin-left: 53px;
	
}

#d2{
    cursor:pointer;
	line-height:normal;
	font-family:"BKoodakBold";
    font-size:inherit;
    line-height:inherit;
	position:relative;
	float: right;
	
    
}

#d1{
	position: relative;
	float: right;
	margin-right: 152px;
}

#date_box{
    font-family:"BKoodakBold";
}

#container h1{
	margin-right:1%;	
}

#container h4{
	font-size: 20px;	
	margin-right:1%;	
}

#inputer_part .description{

	width:relative;
	margin: 4%; 
		
}
.col_1{
	list-style: none !important;	
}

.info{
	color:#f2f2f2;	
}

.lbls{
	font-family:"BKoodakBold";	
	font-size: 18px;
}

.input_fields_txt{
	font-family:"BKoodakBold";	
	font-size: 16px;
	text-align:center;
	width: 300px;
	height: 35px;
}

.sub_part{
	text-align:center;
	margin: 10px;

}

